*
{   
	margin:0;
	padding:0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav{
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-left: 50px;


}

.main-nav li{
	display: inline-block;
} 

.main-nav li a{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" , sans-sarif;
	font-size: 13px;

}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
	background-color: darkolivegreen;

}

body{
	font-family: monospace;
}

.row{
	max-width: 1200px;
	

}

.button{
	float: right;
	margin-top: 300px;
	margin-right:500px; 
}
.button a{
	margin-left: 20px;
	
}



.btn{
	
	padding: 10px 30px;
	color: white;
	text-decoration:none;
	font-size: 13px;
	margin-right: 5px;

}

.btn-one{
	font-family: "Roboto", sans-sarif;

}

.btn-two{
	font-family: "Roboto", sans-sarif;
}

.btn-one:hover{
	background-color: darkolivegreen;
	border: 1px solid white;

}

.btn-two:hover{
	background-color: darkolivegreen;
	border: 1px solid white;
	
}

.dropdown li a{
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	font-family: "Roboto" , sans-sarif;
	font-size: 13px;
	list-style: none;

  }
.dropdown li a:hover{
	border: 1px solid white;
	max-width: 1200px;
	padding: 5px 16px;
	background-color: darkolivegreen;
	list-style: none;

}


.dropdown {
  position: relative;
  display: inline-block;
  left:840px;
  margin-top: 30px;
  list-style: none;



}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  max-width: 1200px;
  padding: 0px 0px;
  z-index:1;
  border: 1px solid white;
}


.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: darkolivegreen;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: darkolivegreen;}